.friendList {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
        box-shadow: 5px 5px 15px 5px #000000;
}
.item:not(:last-child) {
    margin-bottom: 15px;
}